@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,400;0,500;1,700&display=swap');
.btns{
    display: flex;
    
    justify-content: center;
}

.cbox{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fbfbfb;
}

.cbox input{
    height: 20px;
}

.cbox label{
    height: 20px;
    box-shadow: -3px -3px 20px 0 rgba(220, 210, 216, 0.5), 3px 3px 20px 0 rgba(220, 210, 216, 0.5);
    font-family: 'Muli';
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    background-color: #fbfbfb;
}

.cross{
    color: grey;
    display: flex;
    align-self: flex-end;
    position: relative;
    top: -50px;
}

.father{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.btnblue{
    width: 274px;

    height: 39px;
  
    border-radius: 10px;
  
    box-shadow: 2px 2px 4px 0 var(--neutral-medium-dark), inset 4px 4px 4px 0 #3f65ea;
  
    background-color:  #3f65ea;

    color: white;

}

.btnblues{
    width: 116px;

    height: 34px;
  
    object-fit: contain;
  
    border-radius: 10px;
  
    box-shadow: 2px 2px 4px 0 var(--neutral-medium-dark), inset 4px 4px 4px 0 #3f65ea;
  
    background-color: #3f65ea;

    color: white;
}

.btnwhite{
    width: 116px;

    height: 34px;
  
    object-fit: contain;
  
    border-radius: 10px;
  
    box-shadow: 2px 2px 4px 0 var(--neutral-medium-dark), inset 4px 4px 4px 0 #3f65ea;
  
    background-color: var(--secondary-light-original);

    color:#3f65ea; 
    margin-bottom: 10px;
}

.god{
    height: 100vh;
    width: 100vw;
    background-color: #3f65ea;
    display: flex;
    justify-content: center;
    align-items: center;
}

.demigod{
    height: 95%;
    width: 95%; 
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.thisobs{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.bluel{
    color:#3f65ea ;
    margin-bottom: 0px;
    font-family: 'Muli';
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

.quater{
    width: 90%;
    font-family: 'Muli';
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.18px;
    color: #000035;
    
}

.elp{
    margin-top: 0px;
}

.demigod2{
    margin-top: 15px;
}

.tarea{
    box-shadow: -3px -3px 20px 0 rgba(220, 210, 216, 0.5), 3px 3px 20px 0 rgba(220, 210, 216, 0.5);
    background-color: #fbfbfb;
    border: none;
    width: 90%;
    height: 150px;
}
