form{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50%;
}
.section-login{
    height: 100vh;
}
input{
    height: 40px;
}

.span-medio{
   display: block;
   margin: 10px 0;
}

div{
    display: flex;
    flex-flow: column wrap;
    width: 50%;
    font-size: 24px;
    justify-content: space-evenly;
    font-weight: bold;
    position: relative;
    top: 0;
    margin: 15px 0;
}

.kep-login-facebook.metro{
    width: 35vw;
    margin-bottom: 20px;
    padding: 0;
}

.google{
    width: 35vw;
}