.iniciadosesion{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.iniciadosesion-button{
    width: 60vw;
    height: 60px;
    margin: 20px 0;
}

.iniciadosesion-button button{
    width: 70%;
    height: 100%;
    margin: 20px;
}