@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,400;0,500;1,700&display=swap');
.iniciadosesion{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.iniciadoSesion-logo{
width: 175px;
  height: 56px;
  font-family: 'Muli';
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  margin: 0;
}

.iniciadoSesion-bienvenido{
    width: 85vw;
    text-align: left;
    margin: 25px 0 10px 0;
    font-size: 20px;
    font-family: 'Muli';
    font-weight: bold;
    color: #11215f;
}

.iniciadoSesion-logo-darkblue{
    color: #11215f;
}

.iniciadoSesion-logo-lightblue{
    color: #224bdd;
}

.iniciadosesion .iniciadosesion-button{
    width: 282px;
    height: 80px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 0 #847a80, inset 4px 4px 4px 0 #3f65ea;
    background-color: #3f65ea;
    height: 30px;
    font-family: 'Muli';
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fbfbfb;
    text-decoration: none;
    margin: 20px 0;
}


.iniciadoSesion-terminos{
    width: 85%;
    height: 67px;
    font-family: 'Muli';
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.3px;
}

.iniciadoSesion-terminos a{
    color: #224bdd;
    text-decoration: none;
}
