.facebook-img {
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
}

.cajita-facebook{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-self: center;
    margin: 0;
    
}