
.home-search{
    width: 80%;
    height: 40px;
    background-color: #fbfbfb;
    border: none;
    text-indent: 10px;
    z-index: 1;
    border-radius: 25px;
}

.home-search::placeholder{
    text-align: center;
    font-size: 14px;
}

.home-searchForm{
    width: 90%;
    margin: 0;
}

.section-search{
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 20px;
    background-color: #fbfbfb;
    box-shadow: -3px -3px 20px 0 rgba(220, 210, 216, 0.5), 3px 3px 20px 0 rgba(220, 210, 216, 0.5);
    margin: 50px 0;
}

.button-loop,
.button-filter{
    width: 16px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: #fbfbfb;
}

.button-loop{
    background-image: url('./Images/Search.svg');
}

.button-filter{
    background-image: url('./Images/filter2.svg');
}

button:focus{
    outline: none;
}
